{
	"openapi": "3.0.0",
	"info": {
		"title": "FAOMED API",
		"description": "API for website FAO MED",
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "https://fao-med.faotech.dev",
			"description": "development"
		}
	],
	"tags": [
		{
			"name": "Register and Login",
			"description": "User register and login routes"
		},
		{
			"name": "Roles",
			"description": "API for Roles"
		},
		{
			"name": "Countries",
			"description": "API for Countries"
		},
		{
			"name": "Hospitals",
			"description": "API for Hospitals"
		},
		{
			"name": "Payment-Statuses",
			"description": "API for Payment-Statuses"
		}
	],
	"paths": {
		"/api/register": {
			"post": {
				"tags": ["Register and Login"],
				"summary": " User register, bearer token required",
				"security": [
                    {
                        "bearer": []
                    }
                ],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserInput"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Success registered"
					},
					"401": {
						"description": "Unauthorized"
					}
				}
			}
		},
		"/api/login": {
			"post": {
				"tags": ["Register and Login"],
				"summary": "User login using email and password",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"email": {
										"type": "string"
									},
									"password": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Login success"
					},
					"403": {
						"description": "Cannot login"
					},
					"404": {
						"description": "User not registered"
					}
				}
			}
		},
		"/api/login/refresh": {
			"post": {
				"tags": ["Register and Login"],
				"summary": "Refresh the access token",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"refresh_token": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Login success"
					},
					"403": {
						"description": "Cannot login"
					},
					"404": {
						"description": "User not registered"
					}
				}
			}
		},
		"/api/roles": {
			"get": {
				"tags": ["Roles"],
				"summary": "Get all of Roles",
				"security": [
                    {
                        "bearer": []
                    }
                ],
				"responses": {
                    "200": {
                        "description": "Success"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
			}
		},
		"/api/countries": {
			"get": {
				"tags": ["Countries"],
				"summary": "Get all of Countries",
				"security": [
                    {
                        "bearer": []
                    }
                ],
				"responses": {
                    "200": {
                        "description": "Success"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
			}
		},
		"/api/hospitals": {
			"get": {
				"tags": ["Hospitals"],
				"summary": "Get all of Hospitals",
				"security": [
                    {
                        "bearer": []
                    }
                ],
				"responses": {
                    "200": {
                        "description": "Success"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
			},
			"post": {
                "tags": ["hospitals"],
                "security": [
                    {
                        "bearer": []
                    }
                ],
                "summary": "Add new hospitals",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "description": "id of hospital"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
							"schema": {
								"$ref": "#/components/schemas/HospitalInput"
							}
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            }
		},
		"/api/hospitals/{id}": {
            "get": {
                "tags": ["hospitals"],
                "security": [
                    {
                        "bearer": []
                    }
                ],
                "summary": "Get order by id for hospitals",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "description": "id of hospitals"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            },
            "put": {
                "tags": ["hospitals"],
                "security": [
                    {
                        "bearer": []
                    }
                ],
                "summary": "Update detail for hospitals",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "description": "id of hospital"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
							"schema": {
								"$ref": "#/components/schemas/HospitalInput"
							}
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            }
        },
		"/api/paymentStatuses": {
			"get": {
				"tags": ["Payment-Statuses"],
				"summary": "Get all of Payment-Statuses",
				"security": [
                    {
                        "bearer": []
                    }
                ],
				"responses": {
                    "200": {
                        "description": "Success"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
			}
		}
	},
	"components": {
		"securitySchemes": {
			"bearer": {
				"type": "http",
				"scheme": "bearer"
			}
		},
		"schemas": {
			"HospitalInput": {
			  "type": "object",
			  "properties": {
				"name": {
				  "type": "string",
				  "description": "Name for hospital"
				},
				"address": {
				  "type": "string",
				  "description": "Address for hospital"
				},
				"phone_number": {
				  "type": "string",
				  "description": "Phone Number for hospital"
				},
				"is_active": {
				  "type": "boolean",
				  "description": "is hospital active"
				},
				"max_users": {
				  "type": "integer",
				  "description": "max user or account of the hospital"
				}
			  }
			},
			"UserInput": {
				"type": "object",
				"properties": {
					"last_name": {
						"type": "string"
					},
					"first_name": {
						"type": "string"
					},
					"date_of_birth": {
						"type": "string"
					},
					"email": {
						"type": "string"
					},
					"password": {
						"type": "string"
					},
					"phone_number": {
						"type": "string"
					},
					"gender": {
						"type": "string",
						"enum": ["FEMALE", "MALE"]									
					},
					"country_id": {
						"type": "integer",
						"description": "1: Indonesia, 2: Malaysia"
					},
					"role_id": {
						"type": "integer",
						"description": "1: Superadmin, 2: Hospital Manager, 3: Hospital Admin"
					},
					"hospital_id": {
						"type": "integer"
					}
				}
			}
		}
	}
}